<!-- 搜索栏 -->
<div style="width: 100%; display: flex; align-items: center; justify-content: center">
    <x-input-group compact>
        <x-input [style.width.%]="100" placeholder="搜索知识" [(ngModel)]="keyword"
            (keyup.enter)="search(keyword)"></x-input>
        <x-button icon="fto-search" (click)="search(keyword)"></x-button>
    </x-input-group>
</div>



<x-card width="100%" class="card" [bodyStyle]="{ padding: 10, }" [header]="header">
    <ng-template #header>
        <!-- <strong class="title">{{entity['_source']?.labels?.zh?.value}} </strong><span>{{entity['_type']}}</span> -->

    </ng-template>
    <div class="bottom">
        <x-row>
            <x-col *ngFor="let entity of entities" [sm]="8">
                <x-card class="card" [bodyStyle]="{ padding: 0, height:'200px' }">
                    <img (click)="action('info', entity)" *ngIf="entity['_source']?.images" height='100px'
                        [src]="'http://localhost:9000/kgms/'+entity['_source']?.images[0]" />
                    <div class="bottom">
                        <strong class="title">{{entity['_source']?.labels?.zh?.value}}
                        </strong>
                    </div>
                    <x-tag>{{entity?._type}}</x-tag>
                </x-card>
            </x-col>
        </x-row>
    </div>
</x-card>