<!-- 搜索栏 -->
<div style="width: 100%; display: flex; align-items: center; justify-content: center">
    <x-input-group compact>
        <x-input [style.width.%]="100" placeholder="搜索知识" [(ngModel)]="keyword"
            (keyup.enter)="search(keyword)"></x-input>
        <x-button icon="fto-search" (click)="search(keyword)"></x-button>
    </x-input-group>
</div>


<x-row >
    <x-col *ngFor="let row of (data$ | async) " [md]="4">
            <x-card shadow="always">
                {{row?._source?.labels?.zh?.value}}
                <p> {{row?._source?.descriptions?.zh?.value}}
                </p>
            </x-card>
    </x-col>
</x-row>