:host {


    x-row {
        margin: 1rem 0;

        >x-col {
            margin: 0.5rem 0;

            >div {
                height: 300px;
                padding: 1rem;
                text-align: center;
                border-radius: 0.125rem;
                background-color: var(--x-info-400);
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .row:not(:first-child) {
            margin-top: 1rem;
        }

        .row x-card:not(:first-child) {
            margin-left: 2rem;
        }




 
    }

    x-input-group {
        display: block;
        width: 100%;
    }

    x-input-group:not(:first-child) {
        margin-top: 1rem;
    }

    .card {
        position: relative;
        overflow: hidden;

        .title {
            background-color: rgb(207, 207, 207);
            position: absolute;
            bottom: 0;
            color: inherit;
            display: block;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
            overflow: hidden;
            text-decoration: none;
            z-index: 100;
        }

        // .bottom {
        //     display: block;
        //     width: 100%;
        //     position: absolute;
        //     padding: 0.625rem;
        //     z-index: 100;
        // }

        // .bottom>p {
        //     margin: 0;
        //     font-size: 1rem;
        // }


        // .bottom>.time {
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        // }

        // .bottom>.time>span {
        //     color: var(--x-text-400);
        // }
    }


    img {

        display: block;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
    }


}