<!-- 搜索栏 -->
<div style="width: 100%; display: flex; align-items: center; justify-content: center">
    <x-input-group compact>
        <x-input [style.width.%]="100" placeholder="搜索知识" [(ngModel)]="keyword"
            (keyup.enter)="search(keyword)"></x-input>
        <x-button icon="fto-search" (click)="search(keyword)"></x-button>
    </x-input-group>
</div>
<x-menu  [data]="menu()" (nodeClick)="selectType($event)"> </x-menu>




<x-card width="100%" class="card" [bodyStyle]="{ padding: 10, }" [header]="header">
    <ng-template #header>
        <!-- <strong class="title">{{entity['_source']?.labels?.zh?.value}} </strong><span>{{entity['_type']}}</span> -->

    </ng-template>
    <div class="bottom">
       
        <div class="grid-container">
            <div class="grid-item" *ngFor="let entity of entities" >
                <img *ngIf="entity['_source']?.images&&entity['_source']?.images.length>0" style="height: 200px;" (click)="action('info', entity)"
                [src]="'http://localhost:9000/kgms/'+entity['_source']?.images[0]" />
                <b >{{entity['_source']?.labels?.zh?.value | slice:0:10}}
                </b>
            </div>
        </div>
    </div>
</x-card>


