<nav class="knowledge-nav">
  <ul class="nav-list" *ngIf="categories?.length; else empty">
    <!-- Fixed categories -->
    <li *ngFor="let category of getFixedCategories()" 
        [class.selected]="isSelected(category)"
        (click)="selectCategory(category, 0)">
      {{ category.name }}
    </li>

    <!-- Categories with levels -->
    <li *ngFor="let category of getCurrentLevelCategories(); let i = index"
        [class.selected]="isSelected(category)"
        [attr.data-level]="getSelectedCategoryPath().indexOf(category)"
        (click)="selectCategory(category, getSelectedCategoryPath().indexOf(category) + 1)">
      {{ category.name }}
    </li>
  </ul>

  <ng-template #empty>
    <div class="empty-state">暂无分类数据</div>
  </ng-template>
</nav>
