api/node_modules
api/dist
api/logs
api/.env
ui/node_modules
ui/dist
ui/.angular/cache
python/ner_training_system/model
python/ner_training_system/results
python/ner_training_system/saved_model
python/dicts
python/results

