api/node_modules
api/dist
api/logs
api/.env
ui/node_modules
ui/dist
ui/.angular/cache
db/MySQL/db
db/arangodb/data
db/minio/data
db/elasticsearch/data
db/nginx/html/gis
model/custom_ner_model
python/dicts
python/results

