<h3>{{ title }}</h3>
<x-button
  [style.marginBottom.rem]="1"
  (click)="add()"
  icon="fto-plus"
  type="primary"
  >新增</x-button
>
<x-table
  [columns]="columns"
  [data]="data"
  loading
  [showPagination]="true"
  [allowSelectRow]="false"
  [bodyColumnTpl]="{ actions: actionsTpl }"
  [bodyTdTpl]="bodyTdTpl"
>
</x-table>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div>
    <x-link type="primary" (click)="del(row)">删除</x-link>
  </div>
</ng-template>

<ng-template #bodyTdTpl let-column="$column" let-row="$row">
  <ng-container [ngSwitch]="column.id">
    <ng-container *ngSwitchCase="'property'">
      {{ row.mainsnak.property | property | async }}
      <!-- <x-input
        [style.width.%]="100"
        [(ngModel)]="row.mainsnak.property"
      ></x-input> -->
    </ng-container>
    <ng-container *ngSwitchCase="'value'">
      <x-input
        [style.width.%]="100"
        [(ngModel)]="row.mainsnak.datavalue.value"
      ></x-input>
    </ng-container>

    <ng-container *ngSwitchDefault>{{ row[column.id] }}</ng-container>
  </ng-container>
</ng-template>
