<div class="navbar">
  <span (click)="navigateHome()" class="nav-title">课程平台</span>
</div>
<div class="course-container">
  <div class="search-box">
    <input type="text" [(ngModel)]="searchQuery" placeholder="检索课程信息" />
    <button (click)="searchCourses()">检索</button>
  </div>
  <div class="content" *ngIf="!selectedCourse">
    <div class="categories">
      <ul>
        <li *ngFor="let category of categories">
          <input type="checkbox" id="{{category}}" [checked]="selectedCategories.includes(category)" (change)="toggleCategory(category)" />
          <label for="{{category}}">{{ category }}</label>
        </li>
      </ul>
    </div>
    <div class="course-list">
      <div class="course-item" *ngFor="let course of paginatedCourses" (click)="selectCourse(course)">
        <img [src]="course.cover" alt="{{ course.title }}" />
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
      </div>
    </div>
  </div>
  <div class="pagination" *ngIf="!selectedCourse">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">上一页</button>
    <button *ngFor="let page of getPagesArray()" (click)="changePage(page)" [class.active]="page === currentPage">
      {{ page }}
    </button>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === getPagesArray().length">下一页</button>
  </div>
  <div *ngIf="selectedCourse" class="course-details">



    <app-course-detail [course]="selectedCourse"></app-course-detail>
    <!-- <h2>{{ selectedCourse.title }}</h2>
    <p>{{ selectedCourse.description }}</p>
    <div class="course-video">
    </div>
    <div class="course-path">
      <h3>学习路径</h3>
      <app-learning-path></app-learning-path>
    </div>
    <div class="course-quiz">
      <app-all-path></app-all-path>
    </div> -->
  </div>
</div>