<div class="home" #scrollContainer style="height: 100%; overflow-y: scroll" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
(scrolled)="onScrollEntity()" [scrollWindow]="false" >
  <!-- 导航栏 -->
  <nav class="navbar">
    <div class="logo">知识图谱</div>
    <div class="menu">
      <a [routerLink]="'/search'" [queryParams]="{ keyword: '' }">知识</a>
      <a [routerLink]="'/image'" [queryParams]="{ keyword: '' }">图片</a>
      <a [routerLink]="'/video'" [queryParams]="{ keyword: '' }">视频</a>
      <a [routerLink]="'/document'" [queryParams]="{ keyword: '' }">文档</a>
      <a [routerLink]="'/map'" [queryParams]="{ keyword: '' }">地图</a>
      <a [routerLink]="'/index/login'">登录</a>
    </div>
  </nav>

  <!-- 搜索框 -->
  <div class="search-container" #searchContainer [ngStyle]="searchContainerStyle">
    <input type="text" placeholder="搜索知识" class="search-box" [(ngModel)]="keyword"
      (keyup.enter)="queryKeyword(keyword)" />

    <div class="hot-news-container" *ngIf="!isFixed">
      <div class="hot-news-title">热点</div>
      <div class="hot-news-grid">
        <div class="hot-news-item" *ngFor="let news of hots | slice:0:9; let i = index">
          <span class="rank">{{i+1}}</span>
          <span class="news-title"><a (click)="queryKeyword(news.id._source.labels.zh.value)">{{
              news['id']._source.labels.zh.value }}</a><span *ngIf="i<3" class="hot-label">热</span></span>
        </div>

      </div>
    </div>
  </div>

  <!-- 无限滚动发现内容 -->
  <div class="discover-container" *ngIf="entities.length > 0">
    <div class="row" *ngFor="let entity of entities">
      <x-card width="100%" class="card" [header]="header" [bodyStyle]="{ padding: 10, }">
        <ng-template #header>
          <x-link type="primary" *ngIf="!entity['highlight']">{{entity['_source']?.labels?.zh?.value}}</x-link>

          <x-link *ngIf="entity['highlight']"
            [innerHTML]="entity['highlight']['labels.zh.value']"></x-link><span>{{entity['_type']}}</span>
        </ng-template>
        <div class="bottom">
          <img *ngFor="let image of entity['_source']?.images?.slice(0,3)" width="30%"
            [src]="image.startsWith('http') ? image : 'http://localhost:9000/kgms/' + image">
          <p>
            <x-text-retract *ngIf="!entity['highlight']" max="100"
              [content]="entity['_source']?.descriptions?.zh?.value"></x-text-retract>
          </p>

          <p *ngIf="entity['highlight']" [innerHTML]="entity['highlight']['descriptions.zh.value']"></p>

          <div class="row">
            <x-tag *ngFor="let tag of entity['_source']?.tags"
              [style]="{ margin:'5px', backgroundColor: '#4494d5', color: 'white'}" bordered="false"
              size="mini">{{tag}}</x-tag>
          </div>
          <div class="time">
            <span>{{entity['_source']?.modified}}</span>
            <span>{{entity['_source']?.items}}</span>
          </div>
        </div>
      </x-card>
    </div>
  </div>
</div>