.home {
  font-family: Arial, sans-serif;

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .logo {
      font-size: 20px;
      font-weight: bold;
    }

    .menu a {
      margin: 0 10px;
      text-decoration: none;
      color: #333;
      font-size: 14px;
    }
  }
  

  .search-container {
    display: block;
    width: 100%;
    margin: 20vh auto;
    padding: 0 400px;
    transition: all 0.3s ease; // 平滑过渡
    background-color: white;

    .search-box {
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 10px 20px;
      font-size: 18px;
      border: 1px solid #ddd;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease; // 平滑过渡

    }

    .news-container {
      margin-top: 20px;
      padding: 0 10%;

      .news-item {
        margin: 10px 0;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
  }

  .discover-container {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .discover-item {
      height: 200px;
      background-color: #f4f4f4;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}