<div class="scene-container">
  <div class="scene-header">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <x-input-group compact>
        <x-input
          style="width: 300px;"
          placeholder="名称/前缀/描述"
          [(ngModel)]="keyword"
          (keyup.enter)="search(keyword)"
          clearable
        ></x-input>
        <x-button icon="fto-search" (click)="search(keyword)">搜索</x-button>
        <x-button type="text" icon="fto-refresh-cw" (click)="resetSearch()">重置</x-button>
      </x-input-group>
      <div>
        <x-button type="primary" icon="fto-plus" (click)="action('add')">新增</x-button>
        <x-button type="danger" icon="fto-trash-2" (click)="action('delete')">删除</x-button>
      </div>
    </div>
  </div>
  <div class="scene-table">
    <x-table
      #tableCom
      au-adaption
      [columns]="columns"
      [data]="data"
      [size]="size"
      [index]="index"
      [query]="query"
      [showPagination]="true"
      [bordered]="true"
      [showHeader]="true"
      [adaptionHeight]="600"
      [bodyColumnTpl]="{ actions: actionsTpl }"
      (headCheckboxChange)="headCheckboxChange($event)"
      (bodyCheckboxChange)="bodyCheckboxChange($event)"
      loading
    ></x-table>
  </div>
</div>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div class="au-table-actions">
    <x-link icon="fto-eye" (click)="action('info', row)" title="查看" type="info"></x-link>
    <x-link icon="fto-edit" (click)="action('edit', row)" title="修改" type="primary"></x-link>
    <x-link icon="fto-trash-2" (click)="action('delete', row)" title="删除" type="danger"></x-link>
  </div>
</ng-template>
