<x-row space="1">
  <x-col span="24">
    <div class="row">
      <x-card width="100%" class="card">
        <div class="bottom">
          <h1>{{item?.labels?.zh?.value}}</h1>
          <div class="time">
            <span>{{item?.descriptions?.zh?.value}}</span>
            <span>{{item?.type?.label}}</span>
          </div>
        </div>
      </x-card>
    </div>
  </x-col>
</x-row>
<br>
<x-row space="1">
  <x-col span="24">
    <figure width="100%" >
      <figcaption>点击播放音频:</figcaption>
      <audio controls [src]="'http://localhost:9000/kgms/'+item['labels']['zh']['value']"></audio>
      <a [href]="'http://localhost:9000/kgms/'+item['labels']['zh']['value']"> 下载音频 </a>
    </figure>
    </x-col>
</x-row>
