<x-row space="1">
  <x-col span="6">
    <x-card>
      <x-statistic label="三元组" value="{{ 17 | number }}"> </x-statistic>
    </x-card>
  </x-col>
  <x-col span="6">
    <x-card>
      <x-statistic label="节点" value="{{ 18 | number }}"> </x-statistic>
    </x-card>
  </x-col>
  <x-col span="6">
    <x-card>
      <x-statistic label="关系" value="{{ 6 | number  }}">
      </x-statistic>
    </x-card>
  </x-col>
  <x-col span="6">
    <x-card>
      <x-statistic label="知识库" value="{{ 7 | number}}">
      </x-statistic>
    </x-card>
  </x-col>
</x-row>
