<x-link
  *ngIf="showToggle"
  class="toggle"
  [ngClass]="{ selected: !indexService.local.siderShrink }"
  [icon]="!indexService.local.siderShrink ? 'ado-menu-fold' : 'ado-menu-unfold'"
  (click)="toggle()"
></x-link>

<div class="slider">
  <x-slider [data]="getData" size="big" [nodeTpl]="nodeTpl" (indexChange)="tab($event)" [activatedIndex]="activatedIndex"></x-slider>
</div>

<ng-template #nodeTpl let-node="$node">
  <div class="tab">
    <x-icon *ngIf="node.icon" [type]="node.icon"></x-icon>
    <span>{{ node.label }}</span>
    <div class="close" (click)="close(node)" *ngIf="showClose">
      <x-icon title="关闭" type="ado-close"></x-icon>
    </div>
  </div>
</ng-template>
