<x-input-group compact>
  <x-input
    [style.width.%]="25"
    placeholder="输入内容"
    [(ngModel)]="keyword"
    (keyup.enter)="search(keyword)"
  ></x-input>
  <x-button icon="fto-search" (click)="search(keyword)"></x-button>
</x-input-group>

<x-table
  [columns]="columns"
  [data]="data"
  [bodyColumnTpl]="{ actions: actionsTpl }"
  loading
>
</x-table>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div>
    <x-link type="primary" (click)="detail(row, column)">查看</x-link>
    &nbsp;&nbsp;
  </div>
</ng-template>

<x-drawer
title="标题"
size="50%"
[visible]="visible"
  [placement]="value"
  (close)="close()"
>
  <app-fusion-item *ngIf="id" [id]="id"></app-fusion-item>
</x-drawer>
