:host {

  x-input-group {
    display: block;
    width: 100%;
  }

  x-input-group:not(:first-child) {
    margin-top: 1rem;
  }

  .row:not(:first-child) {
    margin-top: 1rem;
  }

  .row x-card:not(:first-child) {
    margin-left: 2rem;
  }

  .row .card #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



  .row:not(:first-child) {
    margin-top: 1rem;
  }

  .row x-card:not(:first-child) {
    margin-left: 2rem;
  }


  .row .card .bottom {
    padding: 0.625rem;
  }

  .row .card .bottom>p {
    margin: 0;
    font-size: 1rem;
  }

  .row .card .bottom>.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .row .card .bottom>.time>span {
    color: var(--x-text-400);
  }

  ::ng-deep strong {
    color: brown;
  }

  // x-row {
  //   margin: 1rem 0;

  //   >x-col {
  //     margin: 0.5rem 0;

  //     >div {
  //       height: 300px;
  //       padding: 1rem;
  //       text-align: center;
  //       border-radius: 0.125rem;
  //       background-color: var(--x-info-400);
  //     }
  //   }

  //   &:first-child {
  //     margin-top: 0;
  //   }

  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }


  .gallery {
    width: 100%;
    display: flex;
  }

  .gallery .warp {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-gap: 10px;
    padding: 5px;
    flex: none;
  }

  .gallery .thumbnail {
    border: 1px solid #CCC;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
    background-position: center center;
  }

  .search-results {
    height: 90%;
    overflow: scroll;
  }


  //全屏按钮
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }

  //播放按钮
  video::-webkit-media-controls-play-button {
    display: none;
  }

  //进度条
  video::-webkit-media-controls-timeline {
    display: none;
  }

  //观看的当前时间
  video::-webkit-media-controls-current-time-display {
    display: none;
  }

  //剩余时间
  video::-webkit-media-controls-time-remaining-display {
    display: none;
  }

  //音量按钮
  video::-webkit-media-controls-mute-button {
    display: none;
  }

  video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
  }

  //音量的控制条
  video::-webkit-media-controls-volume-slider {
    display: none;
  }

  //所有控件
  video::-webkit-media-controls-enclosure {
    display: none;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; /* Use viewport height for full screen */
    height: 800px; /* Use viewport height for full screen */
    background-color: aquamarine;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  .video-wrapper {
    width: 100%;
    height: 100%; /* Make sure it takes up all available space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Keep aspect ratio and fill container */
  }


}