<!-- 搜索栏 -->
<div style="width: 100%; display: flex; align-items: center; justify-content: center">
  <x-menu size="big" [data]="menus()" (nodeClick)="selectMenu($event)"> </x-menu>

</div>


<div style="width: 100%; display: flex; align-items: center; justify-content: center">
  <x-input-group compact size="big">
    <x-select [(ngModel)]="way" [data]="waies()" [style.width.%]="20"></x-select>

    <x-input [style.width.%]="100" placeholder="搜索知识" [(ngModel)]="keyword" (keyup.enter)="search(keyword)"></x-input>
    <x-button size="big" icon="fto-search" (click)="search(keyword)"></x-button>
  </x-input-group>
</div>
<x-menu *ngIf="types" size="small" [data]="types" (nodeClick)="selectType($event)"> </x-menu>


<div class="row">
  <x-checkbox direction="row" [data]="tags" [(ngModel)]="tag" tagBordered="false" tag
    (ngModelChange)="selectTag($event)"></x-checkbox>
</div>


@switch (menu()) {
@case ('知识') {
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false">
  <div class="row" *ngFor="let entity of entities">
    <x-card width="100%" class="card" [header]="header" [bodyStyle]="{ padding: 10, }">
      <ng-template #header>
        <x-link type="primary" *ngIf="!entity['highlight']"
          (click)="action('info', entity)">{{entity['_source']?.labels?.zh?.value}}</x-link>

        <x-link *ngIf="entity['highlight']" (click)="action('info', entity)"
          [innerHTML]="entity['highlight']['labels.zh.value']"></x-link><span>{{entity['_type']}}</span>
      </ng-template>
      <div class="bottom">

        <p>
          <x-text-retract *ngIf="!entity['highlight']" max="100"
            [content]="entity['_source']?.descriptions?.zh?.value"></x-text-retract>
        </p>

        <p *ngIf="entity['highlight']" [innerHTML]="entity['highlight']['descriptions.zh.value']"></p>

        <div class="row">
          <x-tag *ngFor="let tag of entity['_source']?.tags"
            [style]="{ margin:'5px', backgroundColor: '#4494d5', color: 'white'}" bordered="false"
            size="mini">{{tag}}</x-tag>
        </div>
        <div class="time">
          <span>{{entity['_source']?.modified}}</span>
          <span>{{entity['_source']?.items}}</span>
        </div>
      </div>
    </x-card>
  </div>
</div>
}
@case ('图片') {
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false">
  <div class="gallery">
    <div class="warp">
      <div *ngFor="let image of images">
        <div (click)="preview(image.image)" class="thumbnail"
          style="background-image: url('http://localhost:9000/kgms/{{image.image}}')"></div>
        <x-link (click)="action('info', image)" type="info">{{image.label}}</x-link>
      </div>
    </div>
  </div>
</div>
}
@case ('视频') {
<!-- 视频组件模板 -->
<div *ngIf="videos" class="video-container">
  <div class="video-wrapper">
    <video [src]="'http://localhost:9000/kgms/' + videos[2].image" autoplay muted loop></video>
  </div>
</div>




<!-- <div *ngIf="videos" class="video-container" (swipe)="onSwipe($event)">
    <video #videoPlayer controls autoplay >
      <source  [src]="'http://localhost:9000/kgms/' + videos[0].image" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div> -->
<!-- <div class="gallery">
    <div class="warp">
      <div *ngFor="let video of videos">
        <video width="100%">
          <source [src]="'http://localhost:9000/kgms/' + video.image" type="video/mp4" />
          <p>
            你的浏览器不支持 HTML5 视频。这里有一个<a href="myVideo.mp4" download="myVideo.mp4">视频</a>链接。
          </p>
        </video>

      </div>
    </div>
  </div> -->
}
@case ('文件') {
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false">
  <div *ngFor="let pdf of pdfs">
    <x-card width="100%" class="card" [header]="header" [bodyStyle]="{ padding: 10, }">
      <ng-template #header>
        <x-link type="primary" (click)="action('info', pdf)">{{pdf.label}}</x-link>
      </ng-template>
      <div class="bottom">
        <x-text-retract max="100" [content]="pdf?.description"></x-text-retract>
      </div>
    </x-card>
  </div>
</div>
}

@case ('地图') {
<div style="height: 100%;" leaflet [leafletOptions]="options" (leafletClick)="onMapClick($event)"
  [leafletLayers]="markers" (leafletMapReady)="onMapReady($event)">
</div>
}
}