:host {
    x-input-group {
        display: block;
        width: 100%;
    }

    x-input-group:not(:first-child) {
        margin-top: 1rem;
    }
    .row:not(:first-child) {
        margin-top: 1rem;
      }
      .row x-card:not(:first-child) {
        margin-left: 2rem;
      }
    x-row {
        margin: 1rem 0;

        >x-col {
            margin: 0.5rem 0;

            >div {
                height: 300px;
                padding: 1rem;
                text-align: center;
                border-radius: 0.125rem;
                background-color: var(--x-info-400);
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

