.chat-container {
  display: flex;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sessions {
  min-width: 250px;
  border-right: 1px solid #dee2e6;
  padding-top: 60px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.session {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  position: relative;
}

.session:hover {
  background-color: #e9ecef;
}

.session.active {
  background-color: #e2e3e5;
  color: black;
}

.session input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.session .actions {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 10px;
  color: #6c757d;
}



.session .menu-button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.session .menu-button:hover {
  background-color: #e9ecef;
}

.session .menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
}

.session .menu.show {
  display: block;
  width: 80px;
}

.session .menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: #000;
}

.session .menu button:hover {
  background-color: #e9ecef;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 0 200px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word;
}

.message.user {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message.ai {
  align-self: flex-start;
}

.message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.message .text {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.message.user .text {
  background-color: #f6f8fa;
  padding: 20px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 10px;
}

.message.ai .text {
  font-size: 18px;
  line-height: 28px;
  background-color: #ffffff;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #dee2e6;
  border-radius: 0 0 10px 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px;
  border: none;
  background-color: #6c757d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #495057;
}

button fa-icon {
  width: 20px;
  height: 20px;
}
