<h3>{{ title }}</h3>
<x-form #form [disabled]="disabled" [controls]="controls" direction="row" labelSuffix=":" labelWidth="6rem"
  width="30rem" labelAlign="end" span="20" space="2"></x-form>


  <div class="row">
    <x-card *ngFor="let property of data  | async | keyvalue"  width="100%" [header]="header" >
      <ng-template #header>
        <span>{{property.key}}</span>
        <x-button type="text">操作按钮</x-button>
      </ng-template>
      {{property.value|json}}
    </x-card>
  </div>


<div class="app-footer">
  <x-buttons space="0.5">
    <x-button (click)="action('cancel')">取消</x-button>
    <x-button type="primary" (click)="!formInvalid && action('save')" [disabled]="formInvalid || disabled">保存</x-button>
  </x-buttons>
</div>