<div [ngSwitch]="type">
  <div *ngSwitchCase="'info'">
    <app-entity-info [id]="id"></app-entity-info>
  </div>
  <div *ngSwitchCase="'add'">
    <app-entity-add [id]="id"></app-entity-add>
  </div>
  <div *ngSwitchCase="'add_image'">
    <app-entity-add-image [id]="id" (saved)="onChildSaved()"></app-entity-add-image>
  </div>
  <div *ngSwitchCase="'add_video'">
    <div class="row">
      <x-page-header [title]="'新增'" [subTitle]="'视频'" (backClick)="back()">
      </x-page-header>
      <x-card width="100%">
        <div class="row">
          <x-upload action="http://localhost:3000/api/minio-client/uploadFile" [text]="textTpl" multiple
            (uploadSuccess)="uploadVideo($event)" multipleModel="add"></x-upload>
          <ng-template #textTpl>
            <x-icon class="upload-icon" type="fto-upload"></x-icon>
            <span>选择视频</span>
          </ng-template>
          <div class="gallery" *ngIf="vids.length > 0">
            <div class="warp">
              <div *ngFor="let file of vids">
                <img [src]="'data:image/jpeg;base64,'+file.thumbnail" class="thumbnail">
              </div>
            </div>
          </div>
        </div>
        <h3>{{ title }}</h3>
        <x-form #form [disabled]="disabled" [controls]="controls" direction="row" labelSuffix=":" labelWidth="6rem"
          width="100%" labelAlign="end" span="24" space="2"></x-form>
        <br />
        <div class="app-footer">
          <x-buttons space="0.5">
            <x-button (click)="action('cancel')">取消</x-button>
            <x-button type="primary" (click)="!formInvalid && action('save')"
              [disabled]="formInvalid || disabled">保存</x-button>
          </x-buttons>
        </div>
      </x-card>
    </div>
  </div>
  <div *ngSwitchCase="'add_document'">
    <div class="row">
      <x-page-header [title]="'新增'" [subTitle]="'文档'" (backClick)="back()">
      </x-page-header>
      <x-card width="100%">
        <div class="row">
          <x-upload action="http://localhost:3000/api/minio-client/uploadFile" [text]="textTpl" [filesTpl]="filesTpl"
            multiple (uploadSuccess)="uploadDocument($event)" multipleModel="add"></x-upload>
          <ng-template #textTpl>
            <x-icon class="upload-icon" type="fto-upload"></x-icon>
            <span>选择文档</span>
          </ng-template>
          <ng-template #filesTpl let-files="$files">
            <div class="gallery" *ngIf="fs.length > 0">
              <div class="warp">
                <div *ngFor="let file of fs">
                  <img [src]="file.thumbnail" class="thumbnail">
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <h3>{{ title }}</h3>
        <x-form #form [disabled]="disabled" [controls]="controls" direction="row" labelSuffix=":" labelWidth="6rem"
          width="100%" labelAlign="end" span="24" space="2"></x-form>
        <br />
        <div class="app-footer">
          <x-buttons space="0.5">
            <x-button (click)="action('cancel')">取消</x-button>
            <x-button type="primary" (click)="!formInvalid && action('save')"
              [disabled]="formInvalid || disabled">保存</x-button>
          </x-buttons>
        </div>
      </x-card>
    </div>
  </div>
  <div *ngSwitchCase="'add_map'">
    <div class="row">
      <x-page-header [title]="'新增'" [subTitle]="'地理位置'" (backClick)="back()">
      </x-page-header>
      <x-card width="100%">
        <div style="height: 300px" leaflet [leafletOptions]="options" (leafletClick)="onMapClick($event)"
          [leafletLayers]="markers" (leafletMapReady)="onMapReady($event)"></div>
        <h3>{{ title }}</h3>
        <x-form #form [disabled]="disabled" [controls]="controls" direction="row" labelSuffix=":" labelWidth="6rem"
          width="100%" labelAlign="end" span="24" space="2"></x-form>
        <br />
        <div class="app-footer">
          <x-buttons space="0.5">
            <x-button (click)="action('cancel')">取消</x-button>
            <x-button type="primary" (click)="!formInvalid && action('save')"
              [disabled]="formInvalid || disabled">保存</x-button>
          </x-buttons>
        </div>
      </x-card>
    </div>
  </div>
  <div *ngSwitchCase="'template'">
    <div class="template-layout">
      <x-page-header [title]="'编辑模板'" [subTitle]="entity()?.value?._id" (backClick)="back()">
      </x-page-header>

      <div class="template-editor-container">
        <!-- 左侧素材面板 -->
        <div class="materials-panel">
          <h3>素材库</h3>

          <!-- 文本素材 -->
          <div class="material-group">
            <h4>文本内容 <small>(拖拽插入变量)</small></h4>
            <div class="material-items text-items">
              <div class="material-item text-item" draggable="true"
                (dragstart)="onDragStart($event, 'text', {type: 'label', content: item?.labels?.zh?.value})">
                <div class="text-content">
                  <strong>标题:</strong> {{item?.labels?.zh?.value}}
                </div>
              </div>
              <div class="material-item text-item" draggable="true"
                (dragstart)="onDragStart($event, 'text', {type: 'description', content: item?.descriptions?.zh?.value})">
                <div class="text-content">
                  <strong>描述:</strong> {{item?.descriptions?.zh?.value}}
                </div>
              </div>
            </div>
          </div>

          <!-- 图片素材 -->
          <div class="material-group">
            <h4>图片 <small>(拖拽插入变量)</small></h4>
            <div class="material-items">
              <div *ngFor="let image of imgs" class="material-item" draggable="true"
                (dragstart)="onDragStart($event, 'image', image)">
                <img [src]="getFullImageUrl(image.url)" alt="图片素材">
              </div>
            </div>
          </div>

          <!-- 视频素材 -->
          <div class="material-group">
            <h4>视频 <small>(拖拽插入变量)</small></h4>
            <div class="material-items">
              <div *ngFor="let video of vids" class="material-item" draggable="true"
                (dragstart)="onDragStart($event, 'video', video)">
                <img [src]="'data:image/jpeg;base64,' + video.thumbnail" alt="视频缩略图">
                <div class="video-title">{{video.label || '未命名视频'}}</div>
              </div>
            </div>
          </div>
        </div>

        <!-- 右侧编辑器 -->
        <div class="editor-panel">
          <quill-editor [(ngModel)]="entity().value._source.template" [styles]="{height: '100%'}"
            [modules]="editorModules" (onEditorCreated)="onEditorCreated($event)" (drop)="onEditorDrop($event)"
            (dragover)="onEditorDragover($event)">
          </quill-editor>
        </div>
      </div>

      <div class="template-footer">
        <x-buttons space="0.5">
          <x-button (click)="back()">取消</x-button>
          <x-button type="primary" (click)="action('save')">保存</x-button>
        </x-buttons>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'edit'">
    <div class="row">
      <x-page-header [title]="entity()?.value?._source?.labels?.zh?.value?.slice(0, 20)"
        [subTitle]="entity()?.value?._id" (backClick)="back()">
      </x-page-header>

      <x-select style="float: right;" [(ngModel)]="namespace" [data]="namespaceOptions" placeholder="请选择命名空间"
        (ngModelChange)="onNamespaceChange($event)">
      </x-select>

      <!-- 编辑页面左右分栏布局 -->
      <div class="edit-layout">
        <!-- 左侧基本信息 -->
        <div class="edit-left-panel">
          <x-card class="basic-info-card">
            <div class="card-header">
              <h3>基本信息</h3>
            </div>
            <x-form #form [disabled]="disabled" [controls]="controls" direction="column" labelSuffix=":" 
              labelWidth="100%" width="100%" labelAlign="start" span="24" space="2"></x-form>
          </x-card>
        </div>

        <!-- 右侧属性和媒体信息 -->
        <div class="edit-right-panel">
          <!-- 属性信息 -->
          <x-card class="properties-card">
            <div class="card-header">
              <h3>属性信息</h3>
            </div>
            <table class="custom-table">
              <thead>
                <tr>
                  <th width="60px" class="sticky-left">序号</th>
                  <th width="150px">属性名</th>
                  <th>属性值</th>
                  <th width="120px">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of statements(); let i = index">
                  <td class="sticky-left">{{ i + 1 }}</td>
                  <td>
                    <x-select 
                      class="full-width" 
                      [(ngModel)]="row.mainsnak.label"
                      [data]="getPropertyOptions()"
                      placeholder="请选择属性"
                      (ngModelChange)="change(row)">
                    </x-select>
                  </td>
                  <td>
                    <ng-container [ngSwitch]="row?.mainsnak?.datatype">
                      <quill-editor 
                        *ngSwitchCase="'monolingualtext'"
                        [(ngModel)]="row.mainsnak.datavalue.value">
                      </quill-editor>
                      
                      <div *ngSwitchCase="'string'" class="entity-input-group">
                        <input
                          class="full-width"
                          [(ngModel)]="row.mainsnak.datavalue.value"
                          [attr.list]="'string-datalist-' + i"
                          placeholder="请输入或选择值"
                          (ngModelChange)="onTagValueChange($event, row)"
                          type="text">
                        <datalist [id]="'string-datalist-' + i">
                          <option *ngFor="let option of getTagOptionsForRow(row)" [value]="option.value">
                            {{ option.label }}
                          </option>
                        </datalist>
                      </div>
                      
                      <x-input 
                        *ngSwitchCase="'url'" 
                        class="full-width"
                        [(ngModel)]="row.mainsnak.datavalue.value"
                        placeholder="请输入URL">
                      </x-input>
                      
                      <div *ngSwitchCase="'commonsMedia'" class="media-input-group">
                        <x-input 
                          class="full-width"
                          [(ngModel)]="row.mainsnak.datavalue.value"
                          placeholder="文件名或URL">
                        </x-input>
                        <x-upload 
                          action="http://localhost:3000/api/minio-client/uploadFile"
                          (uploadSuccess)="upload($event, row)"
                          [text]="'上传文件'">
                        </x-upload>
                      </div>
                      
                      <div *ngSwitchCase="'wikibase-item'" class="entity-input-group">
                        <input
                          class="full-width"
                          [(ngModel)]="row.mainsnak.datavalue.value.label"
                          [attr.list]="'entity-datalist-' + i"
                          placeholder="请输入或选择实体"
                          (ngModelChange)="onEntityValueChange($event, row)"
                          type="text">
                        <datalist [id]="'entity-datalist-' + i">
                          <option *ngFor="let option of getTagOptionsForRow(row)" [value]="option.value">
                            {{ option.label }}
                          </option>
                        </datalist>
                      </div>
                      
                      <x-input-number 
                        *ngSwitchCase="'quantity'" 
                        class="full-width"
                        [(ngModel)]="row.mainsnak.datavalue.value.amount"
                        placeholder="请输入数量">
                      </x-input-number>
                      
                      <x-date-picker 
                        *ngSwitchCase="'time'"
                        [(ngModel)]="row.mainsnak.datavalue.value.time"
                        placeholder="请选择日期">
                      </x-date-picker>
                      
                      <x-input-group 
                        *ngSwitchCase="'globe-coordinate'" 
                        class="full-width" 
                        compact>
                        <x-input 
                          [(ngModel)]="row.mainsnak.datavalue.value.latitude" 
                          placeholder="纬度">
                        </x-input>
                        <x-input 
                          [(ngModel)]="row.mainsnak.datavalue.value.longitude" 
                          placeholder="经度">
                        </x-input>
                      </x-input-group>
                      
                      <!-- 默认情况 -->
                      <div *ngSwitchDefault class="entity-input-group">
                        <input
                          class="full-width"
                          [(ngModel)]="row.mainsnak.datavalue.value"
                          [attr.list]="'default-datalist-' + i"
                          placeholder="请输入或选择值"
                          (ngModelChange)="onTagValueChange($event, row)"
                          type="text">
                        <datalist [id]="'default-datalist-' + i">
                          <option *ngFor="let option of getTagOptionsForRow(row)" [value]="option.value">
                            {{ option.label }}
                          </option>
                        </datalist>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                    <x-link type="primary" (click)="save(row)">保存</x-link>
                    <x-link type="danger" (click)="del(row)">删除</x-link>
                  </td>
                </tr>
              </tbody>
            </table>
            <x-button [style.marginTop.rem]="1" (click)="add()" icon="fto-plus" type="primary">新增</x-button>
          </x-card>

          <!-- 地理位置 -->
          <x-card class="location-card">
            <div class="card-header">
              <h3>地理位置</h3>
            </div>
            <div style="height: 250px" leaflet [leafletOptions]="options" (leafletClick)="onMapClick($event)"
              [leafletLayers]="markers" (leafletMapReady)="onMapReady($event)"></div>
          </x-card>

          <!-- 图片管理 -->
          <x-card class="media-card">
            <div class="card-header">
              <h3>图片管理</h3>
            </div>
            <x-upload action="http://localhost:3000/api/minio-client/uploadFile" [text]="textTpl" multiple
              [(ngModel)]="imgs" (uploadSuccess)="uploadImage($event)" multipleModel="add"></x-upload>
            <ng-template #textTpl>
              <x-icon class="upload-icon" type="fto-upload"></x-icon>
              <span>选择图片</span>
            </ng-template>
            <div class="gallery" *ngIf="imgs.length > 0">
              <div class="warp">
                <div *ngFor="let file of imgs">
                  <div class="thumbnail" [style]="'background-image: url(' + file?.url + ')'"></div>
                </div>
              </div>
            </div>
          </x-card>

          <!-- 视频管理 -->
          <x-card class="media-card">
            <div class="card-header">
              <h3>视频管理</h3>
            </div>
            <x-upload action="http://localhost:3000/api/minio-client/uploadFile" multiple [(ngModel)]="videos"
              (uploadSuccess)="uploadVideo($event)" multipleModel="add"></x-upload>
            <div class="gallery" *ngIf="vids.length > 0">
              <div class="warp">
                <div *ngFor="let file of vids">
                  <img [src]="'data:image/jpeg;base64,'+file.thumbnail" class="thumbnail">
                  <x-button (click)="updateTideohumbnail(file.url)" type="primary">更新封面</x-button>
                </div>
              </div>
            </div>
          </x-card>

          <!-- 文件管理 -->
          <x-card class="media-card">
            <div class="card-header">
              <h3>文件管理</h3>
            </div>
            <x-upload action="http://localhost:3000/api/minio-client/uploadFile" multiple [(ngModel)]="files"
              (uploadSuccess)="uploadDocument($event)" multipleModel="add"></x-upload>
          </x-card>
        </div>
      </div>

      <!-- 底部操作按钮 -->
      <div class="edit-footer">
        <x-buttons space="0.5">
          <x-button (click)="action('cancel')">取消</x-button>
          <x-button type="primary" (click)="!formInvalid && action('save')"
            [disabled]="formInvalid || disabled">保存</x-button>
        </x-buttons>
      </div>
    </div>
  </div>
</div>