<div class="palette-list">
  <ng-container *ngFor="let item of templateItems">
    <div
      class="palette-item template-item"
      (mousedown)="onItemClick(item)"
      (touchstart)="onItemClick(item)"
      (click)="onItemClick(item)"
    >
      <div class="template-header">
        <span class="item-icon">{{ item.icon }}</span>
        <span class="item-label">{{ item.label }}</span>
      </div>
      <div class="template-description">{{ item.description }}</div>
      <div class="template-preview">预览</div>
    </div>
  </ng-container>
</div>
