<div class="container">
  <header>
    <input type="text" [(ngModel)]="searchQuery" (input)="updateSearchQuery(searchQuery)"
      (keydown.enter)="updateSearchQuery(searchQuery)" placeholder="搜索人物..." autofocus>
  </header>
  <nav class="breadcrumb">
    <span *ngFor="let crumb of breadcrumb; let last = last">
      <a *ngIf="crumb.link; else noLink"
        (click)="crumb.link === '/' ? loadGroupedPersons() : selectGroup(selectedGroup)">{{ crumb.label }}</a>
      <ng-template #noLink>{{ crumb.label }}</ng-template>
      <span *ngIf="!last">/</span>
    </span>
  </nav>
  <div class="content" *ngIf="basicInfo.name || selectedGroup; else groupedPersonsTemplate">
    <aside class="profile" *ngIf="basicInfo.name">
      <h2>人物基本资料</h2>
      <div id="basic-info">
        <div *ngIf="basicInfo.photo; else noPhoto" class="photo-container">
          <img style="width: 100%;" [src]="basicInfo.photo" alt="{{basicInfo.name}}">
        </div>
        <ng-template #noPhoto>
          <div class="no-photo">暂无照片</div>
        </ng-template>
        <h3>{{basicInfo.name}}</h3>
        <p>{{basicInfo.description}}</p>
      </div>
    </aside>
    <section class="media" *ngIf="mediaList.length > 0">
      <h2>媒体资料列表</h2>
      <div id="media-list">
        <ul>
          <li *ngFor="let media of mediaList; let i = index" [class.selected]="i === selectedMediaIndex"
            (click)="playVideo(i)"><span>{{media.label}}</span>
          </li>
        </ul>
      </div>
    </section>
    <section class="persons" *ngIf="selectedGroup && !basicInfo.name">
      <div *ngFor="let person of persons; let i = index" class="person" [class.selected]="i === selectedPersonIndex"
        (click)="navigateToPerson(person, i)">
        <div *ngIf="person._source.images[0]; else defaultAvatar" class="person-avatar">
          <img [src]="'http://localhost:9000/kgms/' + person._source.images[0]" alt="{{person._source.labels.zh}}">
        </div>
        <ng-template #defaultAvatar>
          <div class="person-avatar" [style.background-color]="getRandomColor()">
            <span>{{ getFirstLetter(person._source.labels.zh.value) }}</span>
          </div>
        </ng-template>
        <div class="person-name">{{person._source.labels.zh.value}}</div>
      </div>
    </section>
  </div>
  <ng-template #groupedPersonsTemplate>
    <div class="grouped-persons">
      <div *ngFor="let group of groupedPersons; let i = index" class="group"
        [class.selected]="i === selectedGroupIndex || group === selectedGroup" (click)="selectGroup(i)">
        <div class="folder-icon"></div>
        <h3 (click)="enterGroup(group)">{{group.key}}({{group.doc_count}})</h3>
      </div>
    </div>
  </ng-template>
  <div id="video-modal" *ngIf="isVideoPlaying">
    <div class="modal-content">
      <video controls autoplay>
        <source [src]="'http://'+ip+ ':9000/kgms/'+mediaList[selectedMediaIndex].url" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>