<!-- 搜索栏 -->
<div style="width: 100%; display: flex; align-items: center; justify-content: center">
  <x-menu size="big" [data]="data()" (nodeClick)="selectMenu($event)"> </x-menu>
</div>



<div style="width: 100%; display: flex; align-items: center; justify-content: center">
  <x-input-group compact size="big">
    <x-select [(ngModel)]="way" [data]="['默认检索', '精确检索', '模糊检索']" [style.width.%]="20"></x-select>
    <x-input [style.width.%]="100" placeholder="搜索武器" [(ngModel)]="keyword" (keyup.enter)="search(keyword)"></x-input>
    <x-button size="big" icon="fto-search" (click)="search(keyword)"></x-button>
  </x-input-group>
</div>
<x-menu size="small" [data]="types()" (nodeClick)="selectType($event)"> </x-menu>

<div style="display: block; width: 100%; overflow: scroll">
  <div *ngFor="let t of tags | keyvalue">
    <x-checkbox [label]="t.key" direction="row" [data]="t.value" [(ngModel)]="tag" tagBordered="false" tag></x-checkbox>
  </div>
</div>

<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false">
  @switch (menu()) {
    @case ('知识') {
    <div class="row" *ngFor="let entity of entities">
      <x-card width="100%" class="card" [header]="header" [bodyStyle]="{ padding: 10, }">
        <ng-template #header>
          <x-link type="primary" *ngIf="!entity['highlight']"
            (click)="action('info', entity)">{{entity['_source']?.labels?.zh?.value}}</x-link>
          <x-link *ngIf="entity['highlight']" (click)="action('info', entity)"
            [innerHTML]="entity['highlight']['labels.zh.value']"></x-link><span>{{entity['_type']}}</span>
        </ng-template>
        <div class="bottom">
          <x-text-retract *ngIf="!entity['highlight']" max="100"
            [content]="entity['_source']?.descriptions?.zh?.value"></x-text-retract>
          <p *ngIf="entity['highlight']" [innerHTML]="entity['highlight']['descriptions.zh.value']"></p>
          <p>
            <img *ngIf="entity['_source']?.images && entity['_source']?.images.length>0" width="50%"
              [src]="'http://localhost:9000/kgms/'+entity['_source']?.images[0]" />
          </p>
          <div class="row">
            <x-tag *ngFor="let tag of entity['_source']?.tags"
              [style]="{ margin:'5px', backgroundColor: '#4494d5', color: 'white'}" bordered="false"
              size="mini">{{tag}}</x-tag>
          </div>
          <div class="time">
            <span>{{entity['_source']?.modified}}</span>
            <span>{{entity['_source']?.items}}</span>
          </div>
        </div>
      </x-card>
    </div>
    }
    @case ('图片') {
    <div class="gallery">
      <div class="warp">
        <div *ngFor="let image of images">
          <div (click)="preview(image.image)" class="thumbnail"
            style="background-image: url('http://localhost:9000/kgms/{{image.image}}')"></div>
          <x-link (click)="action('info', image)" type="info">{{image.label}}</x-link>
        </div>
      </div>
    </div>
    }
    @case ('视频') {
    <div class="gallery">
      <div class="warp">
        <div *ngFor="let video of videos">
          <video width="100%">
            <source [src]="'http://localhost:9000/kgms/' + video.image" type="video/mp4" />
            <p>
              你的浏览器不支持 HTML5 视频。这里有一个<a href="myVideo.mp4" download="myVideo.mp4">视频</a>链接。
            </p>
          </video>
          <x-link (click)="action('info', video)" type="info">{{video.label}}</x-link>
        </div>
      </div>
    </div>
    }
    @case ('文件') {
    <div *ngFor="let pdf of pdfs">
      <x-card width="100%" class="card" [header]="header" [bodyStyle]="{ padding: 10, }">
        <ng-template #header>
          <x-link type="primary" (click)="action('info', pdf)">{{pdf.label}}</x-link>
        </ng-template>
        <div class="bottom">
          <x-text-retract max="100" [content]="pdf?.description"></x-text-retract>
        </div>
      </x-card>
    </div>
    }
  }
</div>