<div #header class="logo">
  <!-- <img src="assets/img/logo/logo-48x48.png" /> -->
  <span class="title">知识图谱可视化</span>
</div>

<nav #topNav class="top-nav">
  <div class="nav-item"
       *ngFor="let menu of visibleMenus"
       [class.active]="indexService.activeTopMenu?.id === menu.id"
       (click)="onTopMenuClick(menu)">
    <x-icon *ngIf="menu.icon" [type]="menu.icon"></x-icon>
    <span>{{ menu.label }}</span>
  </div>
  <div class="nav-item more-menu"
       *ngIf="overflowMenus.length > 0"
       (click)="toggleMoreMenu($event)">
    <x-icon type="ado-more"></x-icon>
    <span>更多</span>
    <div class="more-dropdown" *ngIf="moreMenuVisible">
      <div class="dropdown-item"
           *ngFor="let menu of overflowMenus"
           [class.active]="indexService.activeTopMenu?.id === menu.id"
           (click)="onMoreMenuClick(menu)">
        <x-icon *ngIf="menu.icon" [type]="menu.icon"></x-icon>
        <span>{{ menu.label }}</span>
      </div>
    </div>
  </div>
</nav>

<div class="right-nav">
  <div class="user-dropdown" 
       [class.active]="userDropdownVisible"
       (click)="toggleUserDropdown()">
    <div class="user-avatar">
      <x-icon type="ado-user"></x-icon>
    </div>
    <div class="dropdown-menu" *ngIf="userDropdownVisible">
      <div class="dropdown-item user-info">
        <x-icon type="ado-user"></x-icon>
        <span>{{ auth.user.name }}</span>
      </div>
      <div class="dropdown-divider"></div>
      <div class="dropdown-item" (click)="settingVisible = true">
        <x-icon type="ado-setting"></x-icon>
        <span>系统设置</span>
      </div>
      <div class="dropdown-item logout" (click)="logout()">
        <x-icon type="ado-logout"></x-icon>
        <span>退出登录</span>
      </div>
    </div>
  </div>
</div>

<x-drawer title="系统设置" size="38rem" [visible]="settingVisible" (close)="settingVisible = false">
  <!-- <x-theme showDark [(dark)]="settingDark" (darkChange)="darkChange($event)" (defaultClick)="defaultClick($event)"></x-theme> -->
</x-drawer>
