<h3>{{ title }}</h3>
<x-form
  #form
  [disabled]="disabled"
  [controls]="controls"
  direction="row"
  labelSuffix=":"
  labelWidth="6rem"
  width="30rem"
  labelAlign="end"
  span="20"
  space="2"
></x-form>

<x-table *ngIf="type=='edit'"
  [columns]="columns"
  [data]="data"
  loading
  [showPagination]="true"
  [allowSelectRow]="false"
  [bodyColumnTpl]="{ actions: actionsTpl }"
  [bodyTdTpl]="bodyTdTpl"
>
</x-table>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div>
    <!-- <x-link type="primary" (click)="del(row)">删除</x-link> -->
  </div>
</ng-template>

<ng-template #bodyTdTpl let-column="$column" let-row="$row">
  <ng-container [ngSwitch]="column.id">
    <ng-container *ngSwitchCase="'property'">
      {{ row.mainsnak.property }}
      <!-- <x-input
        [style.width.%]="100"
        [(ngModel)]="row.mainsnak.property"
      ></x-input> -->
    </ng-container>
    <ng-container *ngSwitchCase="'value'">
      <x-input
        *ngIf="row.mainsnak.datavalue.type == 'string'"
        [style.width.%]="100"
        [(ngModel)]="row.mainsnak.datavalue.value"
      ></x-input>

      <x-input
        *ngIf="row.mainsnak.datavalue.type == 'quantity'"
        [style.width.%]="100"
        [(ngModel)]="row.mainsnak.datavalue.value.amount"
      ></x-input>

      <x-input
        [before]="afterButtonTpl"
        *ngIf="row.mainsnak.datavalue.type == 'wikibase-entityid'"
        [style.width.%]="100"
        [(ngModel)]="row.mainsnak.datavalue.value.id"
      ></x-input>
    </ng-container>

    <ng-container *ngSwitchDefault>{{ row[column.id] }}</ng-container>
  </ng-container>
</ng-template>
<ng-template #afterButtonTpl>
  <x-button icon="fto-search"></x-button>
</ng-template>



<div class="app-footer">
  <x-buttons space="0.5">
    <x-button (click)="action('cancel')">取消</x-button>
    <x-button
      type="primary"
      (click)="!formInvalid && action('save')"
      [disabled]="formInvalid || disabled"
      >保存</x-button
    >
  </x-buttons>
</div>


