




<x-inner class="au-inner">
    <div class="au-panel au-tree-left" style="width: 10rem;">
        <x-tree #treeCom au-adaption [outerHeight]="100" [data]="tree" expandedLevel="0" [nodeHeight]="1.875"   (activatedChange)="selectType($event)"></x-tree>
    </div>
    <div class="au-form-right">
      <au-tool>
        <x-buttons [space]="0.5">
            <button (click)="uploadData()">上传数据</button>
        </x-buttons>
      </au-tool>
      <div #datagridContainer style="height: 400px; width: 100%;"></div>
    </div>
  </x-inner>