<x-inner class="au-inner">
  <div class="au-form-right">
    <au-tool>
      <div class="row">
        <x-find label="树单选" [(ngModel)]="type" [treeData]="tree"></x-find>
      </div>
      <x-buttons [space]="0.5">
        <!-- <x-upload  action="http://localhost:3000/api/minio-client/uploadFile" (uploadReady)="uploadReady($event)" [filesTpl]="filesTpl"></x-upload>
        <ng-template #filesTpl let-files="$files">
          <ul>
            @for (file of files; track file.name + file.state) {
            <li>{{ file.name }} - {{ file.state }}</li>
            }
          </ul>
        </ng-template> -->
        <!-- <button (click)="submitData()">提交</button> -->
      </x-buttons>
    </au-tool>
    <div #datagridContainer></div>
  </div>
</x-inner>