.container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}
x-card {
  margin-bottom: 20px;
}
.result-item {
  margin-bottom: 10px;
}
.words, .entities, .relations {
  display: flex;
  flex-wrap: wrap;
}
.word, .entity, .relation {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}
