// Import Angular Material theme
@import '~@angular/material/theming';
@import 'src/styles/variables';

// Include the common styles for Angular Material components
@include mat-core();

// Define the primary and accent color palettes
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

// Define the theme
$theme: mat-light-theme($primary, $accent);

// Include the Angular Material theme styles
@include angular-material-theme($theme);

// Import custom styles
@import 'src/styles/custom';

// Import component styles
@import 'components/tree';