:host {
  padding: 0.7rem;
  display: block;
  x-input-group {
    display: block;
    width: 100%;
  }

  x-input-group:not(:first-child) {
    margin-top: 0.7rem;
  }
  > .app-footer,
  > h3 {
    padding-left: 5rem;
  }
  > h3 {
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }

  .app-footer {
    margin-top: 0.7rem;
  }
}
