
:host {
  padding: 1rem;
  display: block;

  >.app-footer,
  >h3 {
    padding-left: 6rem;
  }

  >h3 {
    margin: 0;
  }
 

  .row:not(:first-child) {
    margin-top: 1rem;
  }

  .row x-card:not(:first-child) {
    margin-left: 2rem;
  }

  .row .card .label {
    font-size: 22px;
    font-weight: 400;
    margin-right: 5px;
  }


  .row .card .bottom {
    padding: 0.625rem;
  }

  .row .card .bottom>p {
    margin: 0;
    font-size: 1rem;
  }

  .row .card .bottom>.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .row .card .bottom>.time>span {
    color: var(--x-text-400);
  }

  .row .card dl {
    display: block;
    font-size: 22px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }

  .row .card dt {
    display: inline-block;
    margin-right: 20px;
    width: 35%;
    text-align: end;
    color: #5f37ab !important;
  }

  .row .card dd {
    display: inline-grid;
    text-align: left;
    word-break: break-all;
  }

  .row.scroll {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0.125rem;
    border: 0.0625rem solid var(--x-border);
  }

  

  .row x-affix:not(:first-child) {
    margin-left: 1rem;
  }


  .masonry-item {
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out;

    padding: 10px;
    width: 25%;
    padding: 10px;
    border-radius: 5px;
  }

  .masonry-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  //全屏按钮
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }

  //播放按钮
  video::-webkit-media-controls-play-button {
    display: none;
  }

  //进度条
  video::-webkit-media-controls-timeline {
    display: none;
  }

  //观看的当前时间
  video::-webkit-media-controls-current-time-display {
    display: none;
  }

  //剩余时间
  video::-webkit-media-controls-time-remaining-display {
    display: none;
  }

  //音量按钮
  video::-webkit-media-controls-mute-button {
    display: none;
  }

  video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
  }

  //音量的控制条
  video::-webkit-media-controls-volume-slider {
    display: none;
  }

  //所有控件
  video::-webkit-media-controls-enclosure {
    display: none;
  }

  
  .gallery {
    width: 100%;
    display: flex;
  }
  .gallery .warp {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%  15% 15% auto;
    grid-gap: 5px;
    padding: 10px;
    flex: none;
  }
  .gallery .thumbnail {
    border: 1px solid #CCC;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
    background-position: center center;
  }

  .gallery .thumbnail b{
    display: block;
    width: 100%;
    background-color: gray;
    color: #fff;
    font-size: 18px;
  }
}