<au-tool>


  <div>
    <x-button type="primary" icon="fto-plus" (click)="action('add')">新增</x-button>
    <x-button type="danger" icon="fto-plus" (click)="action('delete')">删除</x-button>
  </div>
  <div>


    <div class="row">
      <x-radio [data]="layout" [(ngModel)]="model" icon (click)="changeLayout(model)"></x-radio>
    </div>
  </div>

</au-tool>

<ng-template #nodeTpl let-node="$node">
  <span class="select-item"> {{ node?.name }} </span>
</ng-template>



<x-input-group compact>
  <x-input [style.width.%]="25" placeholder="输入内容" [(ngModel)]="keyword" (keyup.enter)="search(keyword)"></x-input>
  <x-button icon="fto-search" (click)="search(keyword)"></x-button>
</x-input-group>

<x-container *ngIf="model=='卡片'">
  <x-main><x-row>
      <x-col *ngFor="let row of (data$ | async)['list'] " span="6">
        <x-card [bodyStyle]="{height:'250px', display:'flex', 'justify-content':'center', 'align-items': 'center'}">
          <x-image [src]="'http://localhost:9000/kgms/'+row['label'][0]"></x-image>
        </x-card>
      </x-col>
    </x-row></x-main>
  <x-footer>
    <div class="row">
      <x-pagination [index]="index" [size]="size" [total]="(data$ | async)['total']"></x-pagination>
    </div>
  </x-footer>
</x-container>


<x-table *ngIf="model=='列表'" #tableCom au-adaption [columns]="columns" [data]="data" [size]="size"
  [bodyColumnTpl]="{ actions: actionsTpl, type: typeTpl, label: labelTpl     }"
  (activatedChange)="action('info', $event)" loading [allowSelectRow]="true"
  (headCheckboxChange)="headCheckboxChange($event)" (bodyCheckboxChange)="bodyCheckboxChange($event)">
</x-table>
<ng-template #typeTpl let-column="$column" let-row="$row">
  <div>
    {{row?.type?.label }}
  </div>
</ng-template>

<ng-template #labelTpl let-column="$column" let-row="$row">
  <x-link (click)="action('info', row)">
    {{row.label}}
  </x-link>
</ng-template>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div class="au-table-actions">

    <x-link icon="fto-eye" (click)="action('info', row)" title="查看"></x-link>
    <x-link icon="fto-edit" (click)="action('edit', row)" title="修改"></x-link>
    <x-link icon="fto-trash-2" (click)="action('delete', row)" title="删除"></x-link>
  </div>
</ng-template>