<div class="palette-list" cdkDropList cdkDropListDisabled="true">
  <ng-container *ngFor="let group of chartGroups">
    <div class="palette-group-title">{{ group.group }}</div>
    <ng-container *ngFor="let item of group.items">
      <div
        class="palette-item"
        cdkDrag
        [cdkDragData]="item"
        [cdkDragDisabled]="false"
        cdkDragPreviewClass="palette-drag-preview"
        cdkDragRootElement=".palette-list"
        (click)="onItemClick(item)"
      >
        <span class="item-icon">{{ item.icon }}</span>
        <span class="item-label">{{ item.label }}</span>
        <span class="item-category">{{ item.category }}</span>
      </div>
    </ng-container>
  </ng-container>
</div>
