<div class="row">
  <x-card width="100%" class="card" [bodyStyle]="{ padding: 10, }" [header]="header">
    <ng-template #header>
      <strong class="label">{{entity()?._source?.labels?.zh?.value}}
        <!-- <x-buttons>
          <x-button type="primary" *ngFor="let item of entity()?._source?.items">{{item}}</x-button>
        </x-buttons> -->
      </strong><span>{{entity()?._type}}</span>
    </ng-template>
    <img *ngFor="let image of entity()['_source'].images" width="100%" [src]="'http://localhost:9000/kgms/'+image"/>

    <div class="bottom">
      <h2>简介</h2>
      <p>{{entity()?._source?.descriptions?.zh?.value}}</p>
      <dl *ngFor="let property of properties()">
   
        <dl *ngIf="getStatement(property).length>0">
          <dt>
            {{property.name}}
          </dt>
          <dd>
            <i *ngFor="let statement of getStatement(property)">
              <strong *ngIf="statement.mainsnak.datatype=='wikibase-item'"><a
                  [href]="'http://localhost:4200/index/search/info/'+statement.mainsnak.datavalue.value.id">{{statement.mainsnak.datavalue.value.label}}</a>
              </strong>
              <strong *ngIf="statement.mainsnak.datatype=='string'">
                {{statement.mainsnak.datavalue.value}}
              </strong>
              <strong *ngIf="statement.mainsnak.datatype=='url'"><a
                  [href]="statement?.mainsnak.datavalue.value">{{statement?.mainsnak.datavalue.value}}</a></strong>
              <strong
                *ngIf="statement.mainsnak.datatype=='quantity'">{{statement.mainsnak.datavalue.value.amount}}</strong>
              <strong *ngIf="statement.mainsnak.datatype=='monolingualtext'">{{statement.mainsnak.datavalue.value.text
                }}</strong>
              <strong *ngIf="statement.mainsnak.datatype=='geo-shape'">{{statement.mainsnak.datavalue.value}}</strong>
              <strong
                *ngIf="statement.mainsnak.datatype=='globe-coordinate'">{{statement.mainsnak.datavalue.value.latitude}},{{statement.mainsnak.datavalue.value.longitude}}</strong>
              <strong *ngIf="statement.mainsnak.datatype=='time'">{{statement.mainsnak.datavalue.value.time}}</strong>
            </i>
          </dd>
        </dl>
      </dl>
      <div class="time">
        <span>{{entity()?._source?.modified}}</span>
        <span>{{entity()?._id}}</span>
      </div>
    </div>
  </x-card>
</div>