<au-tool>
  <x-select [data]="datasets" [(ngModel)]="dataset" (ngModelChange)="selectDataset($event)"></x-select>




  <x-button type="success" icon="fto-upload" (click)="importData()">导入</x-button>
</au-tool>
<au-tool>
  <x-find label="名称" columnLabel="name" direction="row" [(ngModel)]="label" [tableColumns]="tableColumns()"
    [tableData]="grid.schema"></x-find>
  <x-find label="描述" columnLabel="name" direction="row" [(ngModel)]="description" [tableColumns]="tableColumns()"
    [tableData]="grid.schema"></x-find>
  <x-find label="类别" columnLabel="name" direction="row" [(ngModel)]="category" [tableColumns]="tableColumns()"
    [tableData]="grid.schema"></x-find>




  <x-find label="别名" columnLabel="name" direction="row" [(ngModel)]="aliases" [tableColumns]="tableColumns()"
    [tableData]="grid.schema" multiple></x-find>
  <x-find label="标签" columnLabel="name" direction="row" [(ngModel)]="tags" [tableColumns]="tableColumns()"
    [tableData]="grid.schema" multiple></x-find>
  <x-find label="文件" columnLabel="name" direction="row" [(ngModel)]="images" [tableColumns]="tableColumns()"
    [tableData]="grid.schema" multiple></x-find>
</au-tool>
<x-progress *ngIf="showProgress" [percent]="latestJob?.progress"></x-progress>
<p *ngIf="!showProgress && !isImporting">没有正在进行的导入任务。</p>
<p *ngIf="isImporting">正在准备导入任务...</p>
<x-row>
  <div #datagridContainer class="canvas-datagrid-container"></div>
</x-row>